body {
	font-family: verdana;
	color: #5acfed;
	background-color: #f0f288;
}

/*Image should float left, <p> float right*/

img {
	float: left;
	border: 3px solid;
	border-color: #fff;

}

#one {
	
	background-color: #d598e1;	
}

#two {
	float: left;
}

