body {
	font-family: verdana;
	color: #75b6d7;
	background-color: #ccc;
}

/*Image should float left, <p> float right*/

img {
	float: left;
	border: 3px solid;
	border-color: #fff;

}

#one {
	
	background-color: #ddd;	
}

#two {
	
}

